.Home{
    display: grid;
    gap: 1rem;
    grid-template-columns: 20% auto 20%;
    position: relative;
}

/* .Home>:nth-child(1){
    flex: 1;
    
}
.Home>:nth-child(2){
    flex: 3;
    
}
.Home>:nth-child(3){
    flex: 1;
    
} */